body {
    background: linear-gradient(to right, #20093a, #e325fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(10, 7, 7);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.back-btn:hover {
    color: rgba(46, 42, 42, 0.8);
    transform: translateX(-5px);
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.container h2 {
    color: antiquewhite;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.btn-primary, .btn-secondary {
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #4a00e0;
    transform: translateY(-2px);
}

.form-control {
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.card-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

/* forgot password */
#forgot-pass {
    color: #2575fc;
    cursor: pointer;
    padding-top: 10px;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}